# Ignorowanie plików konfiguracji Google Apps Script (CLASP)
.clasp.json
.claspignore

# Ignorowanie katalogów build i zależności
node_modules/
dist/
build/

# Ignorowanie plików edytorów (VS Code, WebStorm, itp.)
.vscode/
.idea/

# Ignorowanie plików sesji, logów i plików tymczasowych
*.log
*.tmp
*.lock
.DS_Store
.env
.env.local
.env.development
.env.production

# Ignorowanie plików związanych z zależnościami i wersjonowaniem
package-lock.json
yarn.lock

# Ignorowanie plików konfiguracyjnych użytkownika i poświadczeń
settings.json
credentials.json
client_secret.json

# Ignorowanie katalogów z wynikami testów i raportami
coverage/
lcov-report/
